{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static "dashboard/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" %}">
{% endblock %}

{% block main %}
<div class="contentpanel">

  <ol class="breadcrumb breadcrumb-quirk">
    <li><a href="{% url 'index'%}"><i class="fa fa-home mr5"></i> Dashboard</a></li>
    <li class="active">Listado de Cuentas Robot</li>
  </ol>
  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title">Listado De Cuentas Robot</h4>
      <p>Encontramos el siguiente listado de cuentas robot en el dataset.</p>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table id="dataTable1" class="table table-bordered table-striped-col">
          <thead>
            <tr>
              <th>Usuario</th>
              <th>Criterio</th>
            </tr>
          </thead>

          <tfoot>
            <tr>
              <th>Usuario</th>
              <th>Criterio</th>
            </tr>
          </tfoot>

          <tbody>
            {% for user in robots %}
            <tr>
              <td>{{user.account_name}}</td>
              <td>{{user.description}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block js %}
<script src="{% static "dashboard/lib/datatables/jquery.dataTables.js" %}"></script>
<script src="{% static "dashboard/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js" %}"></script>
<script>
$(document).ready(function() {
  'use strict';
  $('#dataTable1').DataTable();
});
</script>
{% endblock %}
